Repository OMaraLab/polyconstruct, changes with the owners that docs/CODEOWNERS names for each.
All owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Update getting_started.rst
  docs/source/getting_started.rst
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Update .gitignore
  .gitignore
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete .DS_Store
  .DS_Store
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polybuild_examples/.DS_Store
  polybuild_examples/.DS_Store
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/pei_linear_polymer.png
  polytop_examples/data/pei_linear_polymer.png
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/pei_linear_polymer.json
  polytop_examples/data/pei_linear_polymer.json
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/pei_linear_polymer.itp
  polytop_examples/data/pei_linear_polymer.itp
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/four_arm_star.png
  polytop_examples/data/four_arm_star.png
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/four_arm_star.json
  polytop_examples/data/four_arm_star.json
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/four_arm_star.itp
  polytop_examples/data/four_arm_star.itp
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/ethylamine_dendrimer.itp
  polytop_examples/data/ethylamine_dendrimer.itp
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/ethylamine_dendrimer.json
  polytop_examples/data/ethylamine_dendrimer.json
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polytop_examples/data/ethylamine_dendrimer.png
  polytop_examples/data/ethylamine_dendrimer.png
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Delete polybuild/.DS_Store
  polybuild/.DS_Store
Owners: @lunamorrow, @RangikaM, @recombinatrix

Update 'neutralize_charges' function in PolyBuild RTPCharge
  polybuild/polybuild/RTPcharge.py
Owners: @lunamorrow, @RangikaM, @recombinatrix

Update getting_started.rst
  docs/source/getting_started.rst
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Update getting_started.rst
  docs/source/getting_started.rst
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Rename PNIPAM monomer files for PolyBuild examples
  polybuild_examples/RTP_entries/PNIPAM_OPLS_monomer.itp
  polybuild_examples/RTP_entries/PNIPAM_OPLS_monomer.rtp
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Add citation
  README.md
Owners: @lunamorrow, @khiron, @recombinatrix, @RangikaM

Update Polymer.py docstring
  polyconf/polyconf/Polymer.py
Owners: @lunamorrow, @recombinatrix

docs/CODEOWNERS:

# code owners who may approve any commits to the PolyConstruct repository

* @lunamorrow @khiron @recombinatrix @RangikaM

/polyconf/ @lunamorrow @recombinatrix
/polytop/ @lunamorrow @khiron @recombinatrix
/polybuild/ @lunamorrow @RangikaM @recombinatrix

# information on how to adjust the code owners can be found here:
https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
